.display-review-container{
  padding: 10px;
  margin-top: 20px;
  /* border: 2px solid blue; */
}

.display-review-container > p {
  font-size: 18px;
  /* border: 1px solid black; */
}

.create-review-input{
  width: 30%;

  border: 1px solid black;

}