/* @font-face {
  font-family: 'Guardian-EgypTT-Light.woff2';
  src: url('/frontend/public/assets/fonts/Guardian-EgypTT-Light.woff2') format('woff2');
} */
.splash-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-top{
  width: 100%;
  border: 2px solid orange;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #9560b8;
}

.splash-header{
  /* position: absolute; */
  /* border: 1px solid blue; */
  /* width: 100%; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.1;
  letter-spacing: .46515px;
  color: #FFFFFF;
}


.splash-content{
  border: 2px solid;
  background-color: white;
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
}

.splash-content > button{
  max-width: 114px !important;
  height: 114px !important;
  width: 114px !important;
  border-radius: 50% !important;
  border-style: dashed;
  overflow: hidden !important;
  background-color: white;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.splash-content > button:hover{
  transform: scale(1.08);
}

.splash-background{
  height: 60px;
}

.spacer{
  padding-bottom: 100px;
}