@font-face { 
  font-family: 'Guardian-EgypTT-Light';
  src: url('/frontend/public/assets/fonts/Guardian-EgypTT-Light.woff2') format('woff2');
}

#main_header{
  margin-bottom: 50px;
  width: 100%;
  border-bottom: 2px solid #d9d9d9;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 60 !important;
}

#nav_bar {  
  /* border: 1px solid red; */
  padding-top: 12px;
  padding-left: 36px;
  padding-right: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#category-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
}

#category-container:hover{
  background-color: rgb(216,216,216);
  transition:  0.3s;
  transform: skew();
}

#category-container > p {
  margin-left: 4px;
}


#quick_look{
  /* font-family: Arial, Helvetica, sans-serif; */
  padding-top: 4px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px
}

#quick_look > button,
#github-link,
#linkedin-link,
#portfolio-link {
  display: inline-block;
  font-weight: 500;
  font-size: 12.99px;
  font: inherit;
  line-height: 1.4;
  min-height: 36px;
  min-width: 36px;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: black
}

#quick_look > button:hover,
#github-link:hover,
#linkedin-link:hover,
#portfolio-link:hover {
  background-color: rgb(216,216,216);
  transition:  0.3s;
  transform: skew();
}

#name{
  vertical-align: middle;
  font-size: 40px;
  color: rgb(241,100,31);
  text-decoration: none;

}

#sign_in_button{
  display: inline-block;
  font-weight: 500;
  font-size: 12.99px;
  font: inherit;
  line-height: 1.4;
  min-height: 36px;
  min-width: 36px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

#sign_in_button:hover{
  background-color: rgb(216,216,216);
  transition:  0.3s;
  transform: skew();
  /* transform: scale(1.1); */
}


#cart_button{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
  min-width: 25px;
  padding: 12px;
  border: none;
  border-radius: 360px;
  background-color: white;
  cursor: pointer;
}

#cart_button:hover{
  background-color: #CCEBFF;
  transition: background-color 0.3s ease;
  /* transform: scale(1.1); */
}

#cart-icon{
  font-size: 20px;
}

#search-container{
  display: flex;
  flex-direction: row;
}

#search_bar{
  width: 500px;
  padding: 10px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: transparent;
  border-radius: 30px 0 0 30px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .76515px;
  outline: none;
}

#search-button{
  margin-right: 10px;
  border-top: 2px solid black;
  border-left: transparent;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-radius: 0 50% 50% 0;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  cursor: pointer;
  color: white;
  overflow: hidden;
}

#search-icon{
  padding: 8px;
  margin-left: 2px;
  background-color: #f1641f;
  border-radius: 50%;
  font-size: 15;
}

#search-icon:hover{
  transform: scale(1.1);
  background-color: #ff996a;
}