#button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
  border: none;
  background: none;

}

#profile-icon{
  width: 25px;
  height: 25px;
  border: 2px solid black;
  border-radius: 50% !important;
  background: none;
  cursor: pointer;  
}

#profile-icon:hover {
  background-color: (204,235,255);
}

#profile-name{
  font-size: 18px;
  font-weight: 600;
}

.logout-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

#logout-button{
  background: none;
  border: none;
}

.logout-container:hover{
  background-color: rgb(216,216,216);
}

#logout_icon{
  width: 5px;
  height: 3px;
  /* margin-right: 4px; */
}

.profile-dropdown{
  /* position: absolute; */
  top: 100%;
  right: 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  list-style: none;
  z-index: 9999;
}

.profile-dropdown li {
  padding: 4px;
}






